.jumbotron h1 {
    color:rgb(240, 255, 248)
}

.jumbotron p {
    color:rgb(240, 253, 255)
}

.white-text h2 {
    color: rgb(246, 240, 255);
}

.aliceblue-text p {
    color: rgb(240, 255, 245);
}

.col-md-12 p {
    color: rgb(240, 255, 249);
}

body {
    background-color: rgb(28, 63, 160);
}